<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaleidot725.michetimer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_miche_timer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_miche_timer_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MicheTimerActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addtimer.AddTimerActivity" android:label="@string/activity_add_timer_name"  android:parentActivityName=".main.MicheTimerActivity"/>
        <activity android:name=".timerstop.StopTimerActivity" android:label="Stop Timer"/>
        <service android:name=".service.TimerRunnerService"/>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>